<!-- Modal -->
<dialog id="confirmation-modal">
  <article style="box-shadow: none; border: none; background-color: transparent;">
    <div class="alert alert-success" role="alert" style="transform: scale(0.7)">
      <img src="{{ url_for('static',filename='img/valid.png')  }}" class="icon" alt="Success Icon">
      <div>
        <h1>Message sent!</h1>
        <p>Our team has received your message and will be in contact with you soon. Thank you!</p>
      </div>
    </div>
  </article>
</dialog>

