<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Pico.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pico.min.css')  }}" />

    <!-- Custom style -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/custom.css')  }}" />

    <title>{{ strtitle }}</title>
    <link href="{{ url_for('static',filename='img/logo.png')  }}" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
  <main class="scale-down" class="container" style="width: 500px">

      <article style="width: 500px; height: 400px%; text-align: center;">
              <h1>
              <img src="{{ url_for('static',filename='img/logo.png')  }}" />
              </h1>
	      {% if strtype %}
	          <strong>{{ strtype }} </strong>
              {% else %}
	      <strong>Output: </strong>
              {% endif %}
      
	      {% if strmsg %}
	      {{ strmsg }}
	      {% endif %}
              <br /><br />
	      {% if strurl %}
	      <a href='{{ strurl }}' class="contrast">Try again</a>
	      {% endif %}
      </article>

    </main>
  </body>
</html>
